<div class="navbar">                                                                            
    {% if user %}
    <div style="float: left;" class="navbar-el">{{ user }}</div>
    {% endif %}
    <a href="/overview" style="float: left;" class="navbar-el">Overview</a>
    <a href="/entry-form" style="float: left;" class="navbar-el">Create Service</a>
    {% if user %}
    <a href="/oauth2/sign_out" class="navbar-el">Logout</a>
    {% else %}
    <div class="navbar-el placeholder"></div>
    {% endif %}
</div>
