{% include "head.html" %}
<html>
    <body>
        {% include "navbar.html" %}
        <div class="container mt-4">
            <div class="row">
                {% for status in status_list %}
                <a href="/service-details?service={{ status.service}}"
                   class="col-md-5 m-3 p-2 border rounded overview-tile"
                        {% if status.status == "OK"  %}
                            style="background-color: lightgreen;"
                        {% elif status.status == "WARNING"  %}
                            style="background-color: orange;"
                        {% elif status.status == "CRITICAL"  %}
                            style="background-color: #ff00005c;"
                        {% else %}
                            style="background-color: magenta;"
                        {% endif %}
                    >
                    <div class="overview-tile-titel mb-2">{{ status.service }}</div>
                    <div class="overview-tile-status {{ status.status.lower() }}">
                        {{ status.status }}
                    </div>

                    <div class="overview-tile-info-text">
                        <small>
                        {% if status.info_text %}
                        {{ status.info_text }}
                        {% else %}
                        No extra info
                        {% endif %}
                        </small>
                    </div>

                    <small class="overview-tile-date pt-2">
                    {% if status.timestamp == 0 %}
                    Service never reported in
                    {% else %}
                    {{ status.human_date() }}
                    {% endif %}
                    </small>
                </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
